.container{
    max-height: 800px;


        .img-box{
            max-height: 700px;
            img{
                max-height: 700px;
            }
        }


        .card{
            height: 100%;
            width: 700px;
        }
}
